*.iml
.gradle
/.idea*
/local.properties
.DS_Store
/build
/captures
.externalNativeBuild
.cxx
local.properties
app/google-services.json
app/release/app-release.aab
app/release/app-release.apk
app/release/output-metadata.json
